<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SheRides app</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css" type="text/css">
    </head>
    <body id={{bodyId}}>
        <!--NAV BAR -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">{SheRides}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/login">Log In<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/schedule">Schedule a Commute<span class="sr-only">(current)</span></a>
            </li>
            <li class="logo">SheRides
            </li>
            </ul>
        </div>
        </nav>
            {{{body}}}
        <div style = 'display:none;' id='status'> </div>
        <!--<script src="script.js"></script>-->
        <script>
               window.fbAsyncInit = function() {
                FB.init({
                  appId            : '1900620443353720',
                  autoLogAppEvents : true,
                  xfbml            : true,
                  version          : 'v3.1'
                });
              

                /*FB.getLoginStatus(function(response){
                    if(response.status === 'connected') {
                        document.getElementById('status').innerHTML = 'You are logged in!';

                    } else if(response.status === 'not_authorized'){
                        document.getElementById('status').innerHTML = 'You are not logged in!';
                    }
                    else{
                        document.getElementById('status').innerHTML = 'You are not logged in to Facebook!';
                    }

              });*/
          };

              (function(d, s, id){
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) {return;}
                 js = d.createElement(s); js.id = id;
                 js.src = "https://connect.facebook.net/en_US/sdk.js";
                 fjs.parentNode.insertBefore(js, fjs);
               }(document, 'script', 'facebook-jssdk'));


              function login(){
                    document.getElementById('loginbtn').style.display = "none";
                    FB.login(function(response){
                            if(response.status === 'connected') {
                        document.getElementById('status').innerHTML = 'You are logged in!';

                        } else if(response.status === 'not_authorized'){
                            document.getElementById('status').innerHTML = 'You are not logged in!';
                        }
                        else{
                            document.getElementById('status').innerHTML = 'You are not logged in to Facebook!';
                        }
                    });
              }
        </script>
        <!--  <button onclick="login()">Login</button>    -->
    </body>
</html>