<div class="container">
    <br>
    <div class="box">
        <h1 class="display-4 centered">Hello, SheRider!</h1>
        <h2 id='status'> </h2>
        <button id = 'loginbtn' onclick="login()">Login with Facebook</button>
    </div>

</div>
