<div class="container">
    <br>
    <div class="jumbotron">
        <h1 class="display-4 centered">Looking for another SheRider...</h1>
        <button type="button" onclick="window.location.href='/schedule'">Cancel</button>

    </div>
</div>
