<div class="container">
    <br>
    <h1 class="display-4 centered">Pick your trip</h1>

    <form action="/loading">
        <div class="box">
        Transportation:
        <select name="Transportation Agency">
            <option value="caltrain" selected>Caltrain</option>
            <option value="MUNI">MUNI</option>
            <option value="BART">BART</option>
        </select>
        </div>
        <div class="box">
        From:
        <select name="From">
            <option value="San Jose Diridon" selected>San Jose Diridon</option>
            <option value="Santa Clara" >Santa Clara</option>
            <option value="Lawrence" >Lawrence</option>
            <option value="Sunnyvale" >Sunnyvale</option>
            <option value="Mountain View" >Mountain View</option>
            <option value="San Antonio" >San Antonio</option>
            <option value="California Ave" >California Ave</option>
        </select>
        <br><br>
        To:
        <select name="To">
            <option value="San Francisco" selected>San Francisco</option>
            <option value="22nd Street" >22nd Street</option>
            <option value="Bayshore" >Bayshore</option>
            <option value="South San Francisco" >South San Francisco</option>
            <option value="San Bruno" >San Bruno</option>
            <option value="Millbrae" >Millbrae</option>
            <option value="Burlingame" >Burlingame</option>
        </select>
        </div>

        <div class="box">
        Date:
        <input type="date" id="date" name="trip"
               value="2018-10-20"
               min="2018-01-01" max="2018-12-31" />
        <br><br>
        Departure Time:
        <select name="Time">
            <option value="10:28 PM" selected>10:28 PM</option>
            <option value="10:03 PM" >10:03 PM</option>
            <option value="10:45 PM" >10:45 PM</option>
            <option value="10:59 PM" >10:59 PM</option>
            <option value="11:04 PM" >11:04 PM</option>
            <option value="11:23 PM" >11:23 PM</option>
            <option value="11:49 PM" >11:49 PM</option>
        </select>
        </div>
        <div class="submit">
        <input class="submit" type="Submit">
        </div>
    </form>
</div>
